@import "../mixins";
@import "../variables";
.about_con {
  width: 100%;

  .about_header {
    display: flex;
    align-items: baseline;
    gap: 3rem;
    .title {
      span {
        color: $purple;
      }
    }
    .line {
      @include line(15%, $purple);
    }
  }
  .about_wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 968px) {
      justify-content: center;
    }
    .row_left {
      max-width: 60%;
      @media (max-width: 968px) {
        max-width: 100%;
        margin-bottom: 2rem;
      }
      .info {
        .para {
          line-height: 1.7rem;
        }
      }
      
    }

    .row_right {
      position: relative;
      .author {
        @media (max-width: 668px) {
          width: 90%;
        }
      }
      .dots1 {
        position: absolute;
        top: 5%;
        left: 0%;
      }
      .dots2 {
        position: absolute;
        top: 50%;
        left: 40%;
      }
      .dots3 {
        position: absolute;
        top: 90%;
        right: 5%;
      }
    }
  }
}
