@import "../variables";
@import "../mixins";

.contact_con {
  margin-top: 2rem;
  margin-bottom: 2rem;
  .contact_header {
    display: flex;
    align-items: baseline;
    gap: 3rem;
    .title {
      span {
        color: $purple;
      }
    }
    .line {
      @include line(15%, $purple);
    }
  }
  .contact_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    .row_left {
      flex-basis: 50%;
      @media (max-width: 668px) {
        flex-basis: 100%;
      }

      .desc {
        line-height: 1.7rem;
      }
    }
    .row_right {
      width: 90%;
      border: 1px solid $gray;
      padding: 0.5rem 0.8rem;
      .media_con {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
