@import "../variables";
@import "../mixins";
.footer_con {
  margin-top: 1rem;
  border-top: 1px solid $gray;
  padding-top: 2rem;
  .footer_wrapper {
    display: flex;
    justify-content: space-evenly;
    .row_left {
      .logo_con {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .desc {
        line-height: 1.7rem;
      }
    }
    .row_right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .icon_con {
        @include flex;
        a {
          margin-left: 1rem;
          color: $gray;
        }
      }
    }
  }
  .copyright {
    text-align: center;
    margin-top: 2rem;
    color: $gray;
  }
}
