@import "../mixins";
@import "../variables";

.hero_con {
  height: 100vh;
  max-width: 100%;
  .hero_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .row_left {
      width: 100%;
      .title {
        span {
          color: $purple;
        }
      }
      .desc {
        color: $gray;
      }
      .btn {
        @include btn-fill-Primary;
      }
    }
    .row_right {
      position: relative;
      .img_con {
        .dots {
          position: absolute;
          top: 80%;
          right: 10%;
        }
        .outline {
          margin-left: 3.5rem;
          opacity: 0.5;
          position: absolute;
          top: 10%;
          left: -10%;
        }
        .author_img {
          border-bottom: 1px solid $gray;
          z-index: 99;
        }
      }
    }
  }
  .quote_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .quote {
      fieldset {
        display: inline-block;
      }
    }
    .quote_writer {
      text-align: right;
      margin-top: -0.9rem;
    }
  }
}
