@import "../mixins";
@import "../variables";

.hero_con {
  max-width: 100%;
  .hero_wrapper {
    min-height: 50vh;
    display: flex;
    gap: 0;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 968px) {
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }

    .row_left {
      flex-basis: 60%;
      .title {
        span {
          color: $purple;
        }
      }
      .desc {
        color: $gray;
      }
      .btn {
        @include btn-fill-Primary;
        width: fit-content;
        z-index: 10;
      }
      .cta_btns {
        display: flex;
        gap: 10px;
        @media screen and (max-width: 300px) {
          flex-direction: column;
        }
      }
    }
    .row_right {
      .img_con {
        .dots {
          position: absolute;
          top: 80%;
          right: 10%;
        }
        .outline {
          margin-left: 3.5rem;
          opacity: 0.5;
          position: absolute;
          top: 10%;
          left: -10%;
          z-index: 0;
          @media (max-width: 622px) {
            display: none;
          }
        }
        .author_img {
          width: 100%;
        }
      }
    }
  }
  .quote_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
    .quote {
      fieldset {
        display: inline-block;
      }

      .quote_text {
        font-size: 1.2rem;
        @media screen and (max-width: 668px) {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
}
