@import "../variables";
@import "../mixins";
.card_con {
  display: flex;
  gap: 1.5rem;
  .card_wrapper {
    flex-basis: 25%;
    width: 100%;
    border: 1px solid $gray;
    .img_con {
      img {
        width: 350px;
      }
    }
    .card_info {
      padding: 1rem;
      .uses_lan {
      }
      .title {
      }
      .desc {
      }
      .btn_con {
        .btn {
        }
      }
    }
  }
}
