@import "../variables";
@import "../mixins";
.projects_con {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .projects_header {
    width: 100%;
    @include flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    .title_wrapper {
      @include flex;

      .title {
        margin-right: 1rem;
        span {
          color: $purple;
        }
      }
      .line {
        @include line(10rem, $purple);
      }
    }
  }
}
