.projects_con {
  .projects_header {
    display: flex;
    justify-content: space-around;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    .projectCard_con {
    }
  }
}
