@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Noto+Sans:wght@100;200;300;800;900&display=swap");

::selection {
  color: white;
  background: #c778dd;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
  background-color: #282c33;
  scroll-behavior: smooth;
}
/* * {
  border: 1px solid aqua;
} */
li {
  list-style: none;
  cursor: pointer;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  position: relative;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}

.btnBorder::after,
.btnBorder::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  visibility: hidden;
}

.btnBorder::after {
  bottom: -3px;
  right: -3px;
  border-left: 3px solid #222222;
  border-bottom: 3px solid #222222;
  transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
}

.btnBorder::before {
  top: -3px;
  left: -3px;
  border-top: 3px solid #222222;
  border-right: 3px solid #222222;
  transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
}

.btnBorder:hover {
  animation: pulse 1s ease-out 0.4s;
  color: #222222;
}

.btnBorder:hover::after,
.btnBorder:hover::before {
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  visibility: visible;
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}

.btnBorder:hover::after {
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}
