@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Noto+Sans:wght@100;200;300;800;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
  background-color: #282c33;
}

li {
  list-style: none;
  cursor: pointer;
}
